#containerGeneral{
    padding-top: 45px;
    padding-bottom: 55px;
}

/* .boton{
    background-color: #847cdc;
    padding-left: 5%;
    padding-right: 1.5%;
    color: white;
    border-color: #847cdc;
    padding-top: 3.5px;
    padding-bottom: 3.5px
} */