@media (max-width: 1000px) {
    .colForm{
        padding: 14.5px !important;
    }


}

@media (min-width: 1000px) {
    .rowSeccion {
        margin-top: 15px !important;
    }


}



.boton {
    background-color: #847cdc;
    padding-left: 2.5%;
    padding-right: 2.5%;
    color: white;
    border-color: #847cdc;
    padding-top: 3.5px;
    padding-bottom: 5.5px;
    border-radius: 5px;
    font-size: 18.5px;
}



#containerCrear {
    border: black solid;
    border-width: 0.5px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 15px;
    padding-left: 15px;

}